.buscadorContainer{
    display: flex;
    justify-content: center;
}

.buscadorBox{
    position: relative;
}

.buscadorButton{
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}

.buscadorInput{
height: 35px;
border-radius: 10px;
padding: 5px 30px 5px 10px ;
}