.contenedorDetalle{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
    border-radius:15px ;
}

.peliculaDetalle{
    font-size: 1.5rem;
}

.item{
    margin-top:0;
}